@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@Styles.Render("~/Content/clientStyle")
<address>
	AEP address<br /><br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>

<address>
	<i><strong>Support:</strong></i><a href="mailto:Support@example.com">aep_support@example.com</a><br />
	<i><strong>Marketing:</strong></i> <a href="mailto:Marketing@example.com">aep_marketing@example.com</a>
</address>