@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@Styles.Render("~/Content/clientStyle")
<address>
	PECO address<br /><br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>

<address>
	<strong>Support:</strong><a href="mailto:Support@example.com">peco_support@example.com</a><br />
</address>